﻿@model   _502.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="@Url.Action("Index")">


    @Html.DisplayNameFor(m => m.Height)

    身高 @Html.TextBoxFor(m => m.Height)  公分 <br />
    @Html.ValidationMessageFor(ModelItem =>Model.Height)
    體重 @Html.TextBoxFor(m => m.Weight)  公斤  <br />
    <input type="submit" value="送出" />
</form>
<br />
計算結果： @Model.BMI <br />
等級： @Model.Level

